@import "tailwindcss";

@theme {
  --color-em-black: #333333;
  --color-em-white: #FDFDFD;
  --color-em-gray-sm: #F4F4F4;
  --color-em-gray-md: #EEEEEE;
  --color-em-gray: #DDDDDD; /* 회색 */
  --color-em-marker: #FF0004; /* 마커 */
  --color-em-radius : #DBBBFF; /* 반경 */
  --color-em-joy: #FFF38A; /* 기쁨 */
  --color-em-anticipation: #FFB5FF; /* 기대 */
  --color-em-trust: #8EFF98; /* 확신 */
  --color-em-surprise: #FFBF60; /* 당황 */
  --color-em-disgust: #888888; /* 혐오 */
  --color-em-fear: #A788BA; /* 공포 */
  --color-em-anger: #FF7676; /* 분노 */
  --color-em-sadness: #86B0FF; /* 슬픔 */
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}
